<div class="row">
  <div class="col-12">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" id="item-name" required class="form-control">
        </div>
        <div class="col-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text" id="item-amount" required class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary">Edit</button>
        </div>
      </div>
    </form>
  </div>
</div>